@import './settings';
@import './pages/sign';
@import './pages/home';
@import './pages/account';
@import './pages/recipient';
@import './components/todoList';
@import './components/toast';
@import './components/navbar';
@import './components/modals/modal';
@import './components/agenda';
@import './components/loader';
@import './components/modals/inviteUserModal';
@import './components/modals/eventModal';
@import './components/modals/createCategoryModal';
@import './components/modals/addEventModal';
@import './components/modals/createRecipientModal';
@import './components/modals/medicationDetailsModal';
@import './components/modals/searchTreatmentModal';
@import './components/modals/revokeCaregiverModal';
@import 'react-big-calendar/lib/sass/styles';