@import './settings';
@import './pages/login';
@import './pages/register';
@import './pages/home';
@import './pages/recipient';
@import './components/navbar';
@import './components/modal';
@import './components/agenda';
@import 'react-big-calendar/lib/sass/styles';