@import './settings';
@import './pages/sign';
@import './pages/home';
@import './pages/account';
@import './pages/recipient';
@import './components/todoList';
@import './components/toast';
@import './components/navbar';
@import './components/modal';
@import './components/agenda';
@import './components/loader';
@import 'react-big-calendar/lib/sass/styles';