.add-event-modal {
  .modal-header {
    gap: 40px;

    .modal-title {
      display: flex;
      gap: 5px;
      align-items: center;
      width: 80%;
    }

    h4 {
      width: 50%;
    }

    .form-switch {
      label {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .categories-dropdown {
      width: 35%;

      button {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: 1px solid $bsInputBorderColor;
        color: $charcoal;

        svg {
          transform: rotateY(180deg);
          color: $greyGreen;
        }
      }

      .label {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .dropdown-menu {
        width: 100%;
        border-color: $bsInputBorderColor;

        .dropdown-divider {
          border-color: $bsInputBorderColor;
        }

        .dropdown-item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .tag {
            display: flex;
            gap: 10px;
            align-items: center;

            svg {
              transform: rotateY(180deg);
            }
          }

          .delete {
            cursor: pointer;

            svg {
              color: $whiteGreen;
              transition: 0.3s ease-in;
            }

            &:hover {
              svg {
                color: gray;
              }
            }
          }
        }
      }
    }
  }

  .add-event {
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: center;
    justify-items: center;
    gap: 20px 0;

    > svg {
      color: $greyGreen;
    }

    .add-participants {
      position: relative;
      width: 100%;

      .field {
        display: flex;
        justify-content: center;
        position: relative;

        input {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .participants {
          position: absolute;
          z-index: 6;
          display: flex;
          gap: 5px;
          margin-left: 8px;

          span {
            padding: 2px 5px 2px 10px;
            border: 1px solid #ddd;
            border-radius: 5px;

            svg {
              font-size: 25px;
              cursor: pointer;
            }
          }
        }
      }

      .list-group {
        width: max-content;
        position: absolute;
        z-index: 8;

        .list-group-item {
          cursor: pointer;
          transition: 0.2s ease-in;

          &:hover {
            background: $pearl;
          }
        }
      }
    }

    input:not(.form-check-input),
    .form-floating,
    textarea {
      width: 100%;
    }

    label:not(.form-floating > label),
    .label {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .form-floating {

      > label {
        color: $greyGreen;
        font-size: 14px;
      }
    }

    .field {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        font-family: $font2;
      }

      &.dates {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 20px;
        width: 100%;
      }
    }

    .time-field {
      display: grid;
      grid-template-columns: 48% 48%;
      gap: 10px;
      align-items: end;
    }
    .lists {
      display: grid;
      grid-template-columns: 49% 49%;
      gap: 10px;
      width: 100%;
      padding: 0px 20px;

      .participants {
        select {
          option {
            padding: 5px 10px;
            border-radius: $borderRadiusSmall;
            cursor: pointer;

            &:checked,
            &:focus,
            &:active {
              background: transparent !important;
            }

            &.selected {
              background: $aqua !important;
              border: 1px solid $green;
              color: $green;
            }
          }

          &:focus,
          &:active {
            option {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .add-event-btn {
    display: block;
    margin: 2vw auto;
  }
}
