.add-event-modal {
  .add-event {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;

    input:not(.form-check-input),
    .form-floating,
    textarea {
      width: 100%;
    }

    label {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .categories-dropdown {
      width: 100%;

      button {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: 1px solid #b1b7b8;
        color: $charcoal;

        svg {
          transform: rotateY(180deg);
        }
        label {
          display: flex;
          align-items: center;
          gap: 5;

        }
      }

      .dropdown-menu {
        width: 100%;

        .dropdown-item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .tag {
            display: flex;
            gap: 10px;
            align-items: center;

            svg {
              transform: rotateY(180deg);
            }
          }

          .delete {
            cursor: pointer;

            svg {
              color: lightgray;
              transition: 0.3s ease-in;
            }

            &:hover {
              svg {
                color: gray;
              }
            }
          }
        }
      }
    }

    .field {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        font-family: $font2;
      }

      &.dates {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 20px;
        width: 100%;
      }
    }

    #private {
      position: relative;
      width: max-content;
      padding: 5px 10px;
      color: $charcoal;
      border-radius: $borderRadiusSmall;
      border-width: 1px;
      border-style: solid;
      cursor: pointer;
      transition: 0.2s ease-in;
      background: transparent;

      label {
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        gap: 10px;
        font-weight: 400;

        svg {
          font-size: 1.2vw;
        }
      }

      input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:hover,
      &.checked {
        border-color: $charcoal;
        background: lightgray;
      }

      &.checked {
        &:hover {
          box-shadow: none;
          background: transparent;
          border-color: transparent;
        }
      }
    }

    .time-field {
      display: grid;
      grid-template-columns: 48% 48%;
      gap: 10px;
      align-items: end;
    }
    .lists {
      display: grid;
      grid-template-columns: 49% 49%;
      gap: 10px;
      width: 100%;
      padding: 0px 20px;

      .participants {
        select {
          option {
            padding: 5px 10px;
            border-radius: $borderRadiusSmall;
            cursor: pointer;

            &:checked,
            &:focus,
            &:active {
              background: transparent !important;
            }

            &.selected {
              background: $aqua !important;
              border: 1px solid $green;
              color: $green;
            }
          }

          &:focus,
          &:active {
            option {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .add-event-btn {
    display: block;
    margin: 2vw auto;
  }
}
