.create-category-modal {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      border-radius: 5px;
      border: 1px solid #b1b7b8;
      padding: 5px 8px;
    }

    label {
      font-weight: 600;
    }

    .colors {
      display: flex;
      gap: 10px;
      justify-content: center;

      .color {
        width: 1.8vw;
        height: 1.8vw;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.3s ease-in;

        .center {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: 0.3s ease-in;
        }

        &:hover {
          border: 1px solid rgb(187, 187, 187);

          .center {
            transform: scale(0.8);
            border: 1px solid rgb(187, 187, 187);
          }
        }

        &.selected {
          border: 2px solid $mediumGreen2;

          .center {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}