.event-modal {
  .info {
    span {
      color: gray;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > *:not(#private) {
      width: 100%;
      display: grid;
      grid-template-columns: 10% 90%;
    }

    > *:not(.participants) {
      align-items: center;
    }

    .columns {
      display: grid;
      grid-template-columns: 45% 45%;
      gap: 10px;

      .column {
        background: $pearl;
        border-radius: $borderRadiusLight;
        padding: 10px 20px;

        span {
          font-weight: 600;
          text-align: center;
          margin-bottom: 10px;
          width: 100%;
          display: block;
        }

        ul {
          padding: 0;
        }
      }
    }
  }

  form {
    .modal-header {
      align-items: flex-start;
    }

    .modal-body {
      align-items: flex-end;

      > *:not(.date, .categories) {
        align-items: start !important;
      }

      .date-inputs {
        display: flex;
        gap: 20px;
      }
    }

    .categories-dropdown {
      width: 100%;

      button {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: 1px solid #b1b7b8;
        color: $charcoal;
      }

      .dropdown-menu {
        width: 100%;

        .dropdown-item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .tag {
            display: flex;
            gap: 10px;
            align-items: center;

            svg {
              transform: rotateY(180deg);
            }
          }

          .delete {
            cursor: pointer;

            svg {
              color: lightgray;
              transition: 0.3s ease-in;
            }

            &:hover {
              svg {
                color: gray;
              }
            }
          }
        }
      }
    }

    select {
      background: none;
      border: none;
      overflow: hidden;
      width: 100%;

      option {
        padding: 5px 10px;
        border-radius: $borderRadiusSmall;
        cursor: pointer;

        &:checked,
        &:focus,
        &:active {
          background: transparent !important;
        }

        &.selected {
          background: $aqua !important;
          border: 1px solid $green;
          color: $green;
        }
      }

      &:focus,
      &:active {
        border: none;
        outline: none;

        option {
          background-color: transparent;
        }
      }
    }

    #private {
      position: relative;
      width: max-content;
      padding: 5px 10px;
      color: $charcoal;
      border-radius: $borderRadiusSmall;
      border-width: 1px;
      border-color: transparent;
      border-style: solid;
      cursor: pointer;
      transition: 0.2s ease-in;
      background: transparent;

      label {
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        gap: 10px;
        font-weight: 400;

        svg {
          font-size: 1.2vw;
        }
      }

      input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:hover,
      &.checked {
        border-color: $charcoal;
        background: lightgray;
      }

      &.checked {
        &:hover {
          box-shadow: none;
          background: transparent;
          border-color: transparent;
        }
      }
    }
  }
}