.modal {
    position: initial;
    display: block;
    background: rgba(0, 0, 0, 0.706);
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;


    .modal-box {
        width: 50%;
        background: $pearl;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;

        .modal-header {
            border-bottom: 1px solid #ddd;
            padding: 15px 25px;
             
        }

        .modal-body {

        }

        .modal-footer {

        }
    }
}