#searchTreatmentModal {
  .search-container {
    box-shadow: 0px 0px 6px 1px #74828154;
    border-radius: $borderRadius;
    padding: 15px 0;

    .search-bar {
      display: flex;
      align-items: center;
      width: 90%;
      margin: auto;
      position: relative;

      input {
        width: 100%;
        border-radius: $borderRadiusSmall $borderRadiusSmall 0 0;
        border: none;
        border-bottom: 1px solid $whiteGreen;
        padding: 5px 10px 5px 25px;
        transition: 0.2s ease-in;

        &::placeholder {
          color: $greyGreen;
        }

        &:focus-visible {
          outline: none;
          border-bottom: 2px solid $greyGreen;
        }
      }

      .icon {
        position: absolute;
        display: flex;

        svg {
          color: $green;
        }
      }
    }

    .search-results {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 25vw;
      margin-top: 10px;
      padding: 0;

      &::-webkit-scrollbar {
        background: $white;
        border-radius: 0 0 $borderRadiusSmall 0;
        width: 0.2vw;
      }
      &::-webkit-scrollbar-thumb {
        background: $whiteGreen;
        border-radius: $borderRadius;
      }

      .no-result {
        text-align: center;
        color: $greyGreen;
      }

      .medication {
        background: $white;
        padding: 5px 20px;
        color: $blackGreen;
        cursor: pointer;
        transition: 0.3s ease-in;
        font-family: $font1;
        display: grid;
        grid-template-columns: 5% 95%;
        align-items: center;

        svg {
          margin-right: 5px;
        }

        p {
          display: flex;
          align-items: center;
          margin-bottom: 0;

          &:last-child {
            white-space: nowrap;
          }


        .search-value {
          color: $greyGreen;
        }
        }


        &:hover {
          background: $pearl;
        }
      }
    }
  }
}
