#account {
  padding: 20px;
  display: grid;
  grid-template-columns: 15% 85%;

  .toolbar {
    background: $whiteGreen;
    padding: 20px 0 20px 20px;
    border-radius: $borderRadius;

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 10px;

      li {
        color: $mediumGreen2;
        padding: 10px 15px;
        border-radius: $borderRadius 0 0 $borderRadius;
        cursor: pointer;
        transition: 0.3s ease-in;

        &.active {
          background: $white;
          color: $success;
          font-weight: 600;
        }
      }
    }
  }

  .account-container {
    width: 70%;
    margin: 20px auto;
    
    .box {
      border-width: 1px;
      border-style: solid;
      border-color: $whiteGreen;
      padding: 20px;
      margin: 10px auto;
      border-radius: $borderRadiusSmall;
      
      
      button {
        background: transparent;
        color: $greyGreen;
        border: 1px solid $whiteGreen;
        border-radius: $borderRadius;
        font-family: $font1;
        padding: 5px 15px;
        font-size: 14px;
        transition: 0.3s ease-in;
        
        &:hover {
          box-shadow: 0px 1px 6px 1px rgb(177 183 184 / 17%);
        }
      }
      
      .box-header {
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      
      &#generalInfo {
        display: grid;
        grid-template-columns: 25% 75%;
        
        .icon {
          display: flex;
          justify-content: center;
          
          svg {
            font-size: 10vw;
            color: $whiteGreen;
          }
        }
        
        .username-field {
          position: relative;
          display: flex;
          align-items: center;
          
          svg {
            position: absolute;
            width: 1.8vw;
            padding: 0 5px;
            margin-left: 3px;
            height: 100%;
            border-right: 1px solid $whiteGreen;
          }
          
          input {
            padding: 5px 35px;
          }
        }
        
        .user-info {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          
          .text {
            display: flex;
            flex-direction: column;
            
            span {
              text-transform: capitalize;
              color: $greyGreen;
            }
          }
        }
      }
      
      &#personalInfo {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px 0;
        justify-items: center;
        
        .item {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          width: 80%;
          
          small,
          p {
            padding: 5px 8px;
          }
          
          p {
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            margin-bottom: 0;
          }
          small {
            color: $greyGreen;
            font-weight: 600;
          }
          
          input {
            font-family: $font1;
          }
        }
      }
    }
  }
  
}