#account {
  padding: 20px;
  display: grid;
  grid-template-columns: 15% 85%;

  .toolbar {
    background: $whiteGreen;
    padding: 20px 0 20px 20px;
    border-radius: $borderRadius;

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 10px;

      li {
        color: $mediumGreen2;
        padding: 10px 15px;
        border-radius: $borderRadius 0 0 $borderRadius;
        cursor: pointer;
        transition: 0.3s ease-in;

        &.active {
          background: $white;
          color: $success;
          font-weight: 600;
        }
      }
    }
  }

  .edit-button {
    background: transparent;
    color: $greyGreen;
    border: 1px solid $whiteGreen;
    border-radius: $borderRadius;
    padding: 5px 15px;
    font-size: 14px;
    transition: 0.3s ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 1px 6px 1px rgb(177 183 184 / 17%);
    }

    &.active {
      background: $whiteGreen;
      color: $darkGreen;
    }
  }

  .profile-container {
    width: 70%;
    margin: 20px auto;

    .box {
      border-width: 1px;
      border-style: solid;
      border-color: $whiteGreen;
      padding: 20px;
      margin: 10px auto;
      border-radius: $borderRadiusSmall;

      .box-header {
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      &#generalInfo {
        display: grid;
        grid-template-columns: 25% 75%;

        .icon {
          display: flex;
          justify-content: center;

          svg {
            font-size: 10vw;
            color: $whiteGreen;
          }
        }

        .username-field {
          position: relative;
          display: flex;
          align-items: center;

          svg {
            position: absolute;
            width: 1.8vw;
            padding: 0 5px;
            margin-left: 3px;
            height: 100%;
            border-right: 1px solid $whiteGreen;
          }

          input {
            padding: 5px 35px;
          }
        }

        .user-info {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          .text {
            display: flex;
            flex-direction: column;

            span {
              text-transform: capitalize;
              color: $greyGreen;
            }
          }
        }
      }

      &#personalInfo {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px 0;
        justify-items: center;

        .item {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          width: 80%;

          small,
          p {
            padding: 5px 8px;
          }

          p {
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            margin-bottom: 0;
          }
          small {
            color: $greyGreen;
            font-weight: 600;
          }

          input {
            font-family: $font1;
          }
        }
      }
    }
  }

  .space-container {
    width: 70%;
    margin: 20px auto;

    .creation-info {
      color: $greyGreen;
      font-style: italic;
    }

    .box {
      border-width: 1px;
      border-style: solid;
      border-color: $whiteGreen;
      padding: 20px;
      margin: 10px auto;
      border-radius: $borderRadiusSmall;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .box-header {
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 20px 0;
        width: 100%;

        li {
          display: flex;
          align-items: center;
          gap: 5px;
          background: $pearl;
          padding: 5px 10px;
          border-radius: $borderRadiusLight;
          border: 1px solid $greyGreen;

          .status-badge {
            width: 1.5vw;
            display: flex;
            align-items: center;

            svg {
              fill: $mediumGreen;
            }
          }

          .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .role-badge {
              width: max-content;
            }

            .actions {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 10px;

              .revoke {
                width: max-content;

                > * {
                  flex: 1;
                }
                span {
                  transform: scaleX(0);
                  transform-origin: right;
                  transition: 0.2s ease-in;
                }

                &:hover {
                  span {
                    transform: scaleX(1);
                  }
                }
              }
            }

            
            p {
              margin-bottom: 0;
            }
            
            .badge {
              border: 1px solid $greyGreen;
              background: transparent !important;
              color: $greyGreen;
            }
          }

          &.caregiver { 

            .info {

              > *:not(.actions) {
                width: 10vw;
              }
            }
          }

          &.current-user {
            p{
              font-weight: 600;
            }
          }
        }
      }

      .add-person {
        background-color: $aqua;
        color: $green;
        border: 1px solid $green;
      }
    }
  }
}

#revokeCaregiverModal {
  svg {
    color: $error;
  }
}

#removeRecipientModal {
  svg {
    color: $error;
  }

  .validation-field {
    display: flex;
    position: relative;
    align-items: center;
    margin: 10px auto;
    width: max-content;

    label {
      position: absolute;
      padding: 5px 9px;
      color: $error;
      opacity: 0.5;
    }

    input {
      position: relative;
      background: transparent;
      text-transform: uppercase;
      border: 1px solid $error;
      color: $error;

      &:focus-visible {
        outline: $error auto 1px;
      }
    }
  }
}
