#home {
    padding: 3vw;
    display: grid;
    grid-template-columns: 30% 70%;

    .loading {
        .loaderOne {
            position: absolute;
        }

        .loaderTwo {
           transform: rotateX(180deg) rotateY(-180deg);
        }
    }

  .left-tab {
   

   

    .recipients {
        background: $green;
        border-radius: 20px;
        padding: 20px;
        width: 20vw;
        margin: 5vw 2vw3;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
      margin: 0;
      color: $white;
     }

      .recipient {
        width: 90%;
        height: 3vw;
        background: $white;
        border-radius: 13px;
        color: $green;
        padding: 5px 15px;
        display: flex;
        align-items: center;

        h4 {
          gap: 10px;
          display: flex;
          align-items: center;
          text-transform: capitalize;

          .icon {
            border: 2px solid $green;
            border-radius: 50%;
            padding: 5px 8px;
          }
        }
      }
    }

     button {
      background: $white;
      color:  $green;
      font-family: $font1;
      font-weight: 600;
      width: max-content;
      border-radius: 5px;
      text-transform: uppercase;
      border: none;
      margin: 10px auto;
      padding: 15px 40px;
      cursor: pointer;
      transition: 0.3s ease-in;

      &:hover {
        background: $darkGreen;
      }
    }
  }
}
