#recipient {
  height: 100%;

  .recipient-container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    margin: auto;
    justify-content: center;

    .recipient-left-tab {
      padding: 2vw;
      width: max-content;

      ul {
        background-color: $green;
        border-radius: $borderRadius;
        color: $white;
        padding: 10px !important;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          font-weight: 600;
          padding: 15px 25px;
          transition: 0.5s ease-in;
          border-radius: 10px;
          cursor: pointer;

          &.active {
            background: $pearl;
            color: $green;
          }
        }
      }
    }

    .age {
      font-family: inherit;
      font-style: italic;
    }

    > *:not(.recipient-left-tab) {
      padding: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      border-left: 1px solid $whiteGreen;
    }

    #generalSection {
      form {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 15px;
        height: 38vw;
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
        }

        &::-webkit-scrollbar-thumb {
          fill: $green;
        }

        input:not([type="checkbox"]),
        textarea,
        select {
          border-radius: 5px;
          border: 1px solid #a09898;
          padding: 5px 8px;
        }

        .edit-sensible-info {
          width: max-content;
          margin: 5px auto;
        }

        label {
          margin: 15px 0 5px;
          font-weight: 800;
        }

        .form-row {
          display: grid;
          grid-template-columns: 49% 49%;
          gap: 0 10px;

          input {
            width: 100%;
          }
        }

        .field {
          display: flex;
          flex-direction: column;
          width: 100%;

          .deletable_field {
            display: flex;
            gap: 5px;
            margin: 0 0 10px;
            width: 100%;

            input {
              width: 100%;
            }
          }
        }

        .delete {
          svg,
          path {
            pointer-events: none;
          }
        }
      }
    }

    #recipientTreatments {
      .treatments-list {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        justify-items: center;
        justify-content: center;
        padding: 20px 0;
        gap: 10px;
        height: 38vw;
        overflow-y: scroll;
        border-radius: $borderRadiusMedium;
        background: $pearl;

        .treatment {
          display: flex;
          flex-direction: column;
          gap: 10px;
          background: $white;
          box-shadow: 2px 4px 8px 2px $whiteGreen,
            inset 10px 16px 8px 2px $white;
          border-radius: $borderRadiusMedium;

          .card-header {
            color: $mediumGreen;
            font-family: $font1;
          }

          .card-body {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .add-treatment-btn {
        margin: 15px auto;
      }
    }
  }
}




