#recipient {
  height: 100%;

  .recipient-container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    margin: auto;
    justify-content: center;

    .recipient-left-tab {
      padding: 2vw;
      width: max-content;

      ul {
        background-color: $green;
        border-radius: $borderRadius;
        color: $white;
        padding: 10px !important;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          font-weight: 600;
          padding: 15px 25px;
          transition: 0.5s ease-in;
          border-radius: 10px;
          cursor: pointer;

          &.active {
            background: $pearl;
            color: $green;
          }
        }
      }
    }

    .age {
      font-family: inherit;
      font-style: italic;
    }

    > *:not(.recipient-left-tab) {
      padding: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      border-left: 1px solid $whiteGreen;
    }

    #generalSection {
      form {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 15px;
        height: 38vw;
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
        }

        &::-webkit-scrollbar-thumb {
          fill: $green;
        }

        input:not([type="checkbox"]),
        textarea,
        select {
          border-radius: 5px;
          border: 1px solid #a09898;
          padding: 5px 8px;
        }

        .edit-sensible-info {
          width: max-content;
          margin: 5px auto;
        }

        label {
          margin: 15px 0 5px;
          font-weight: 800;
        }

        .form-row {
          display: grid;
          grid-template-columns: 49% 49%;
          gap: 0 10px;

          input {
            width: 100%;
          }
        }

        .field {
          display: flex;
          flex-direction: column;
          width: 100%;

          .deletable_field {
            display: flex;
            gap: 5px;
            margin: 0 0 10px;
            width: 100%;

            input {
              width: 100%;
            }
          }
        }

        .delete {
          svg,
          path {
            pointer-events: none;
          }
        }
      }
    }

    #recipientTreatments {
      .treatments-list {
        padding: 0;
        height: 40vw;
        overflow-y: scroll;
        border-radius: $borderRadiusMedium;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::-webkit-scrollbar {
          background: transparent;
          width: 0.3vw;
        }

        &::-webkit-scrollbar-thumb {
          background: $whiteGreen;
          border-radius: $borderRadius;
        }

        .row {
          width: 100%;

          .col {
            position: relative;

            .remove-treatment {
              right: 0%;
              top: -5%;
              position: absolute;
              z-index: 10;
              width: 1.8vw;
              height: 1.8vw;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $greyGreen;
              border-width: 1px;
              border-style: solid;
              border-color: $greyGreen;
              font-size: 1vw;
              padding: 0;
              cursor: pointer;
              opacity: 0;
              transition: 0.2s ease-in;

              &:hover {
                filter: brightness(0.9);
              }
            }

            &:hover {
              .remove-treatment {
                opacity: 1;
              }
            }

            &.expired {
              .card-header {
                border-radius: 15px 15px 0 0;
              }
              .card-body {
                border-radius: 0 0 15px 15px;

              }

              .card-body,
              .card-header {
                backdrop-filter: brightness(0.9);
                filter: saturate(0.5) brightness(0.9);
              }

              
              h5 {
                margin-bottom: 0;
                position: absolute;
                top: 3%;
                right: 3%;
                z-index: 6;
                transition: 0.3s ease-in;
              }

              &:hover {
                filter: none;
                .card-img-overlay {
                  opacity: 1;
                }

                h5 {
                  opacity: 0;
                }
              }
            }
          }
        }

        .treatment {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: $white;
          box-shadow: 2px 4px 8px 2px #eaeaea;
          border-radius: $borderRadiusMedium;
          position: relative;

          .card-img-overlay {
            background: #121f1e99;
            backdrop-filter: blur(1px);
            border-radius: 14px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: 0.3s ease-in;
          }

          .card-header {
            color: $mediumGreen;
            font-family: $font1;
          }

          .card-body {
            display: flex;
            flex-direction: column;

              .remaining {
                .progress {

                  .progress-bar {
                    filter: brightness(1.5) saturate(0.3) !important;
                  }
                }
              }

            .start-time {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            .list-group {
              margin: 0 0 10px;

              .time-range {
                display: flex;
                align-items: center;

                svg {
                  width: 3vw;

                  &:nth-child(2),
                  &:nth-child(3) {
                    border-left: 1px solid $greyGreen;
                  }
                }
              }
            }
          }
        }
      }

      .add-treatment-btn {
        margin: 15px auto;
      }
    }
  }
}
