#recipient {
  height: 100%;

  .recipient-container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    margin: auto;
    justify-content: center;

    .recipient-left-tab {
      padding: 2vw;
      width: max-content;

      span {
        color: $greyGreen;
        font-size: 2rem;
      }

      h2 {
        margin: 0;
      }

      ul {
        background-color: $green;
        border-radius: $borderRadius;
        color: $white;
        padding: 10px !important;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          font-weight: 600;
          padding: 15px 25px;
          transition: 0.5s ease-in;
          border-radius: 10px;
          cursor: pointer;

          &.active {
            background: $pearl;
            color: $green;
          }
        }
      }
    }

    > *:not(.recipient-left-tab) {
      padding: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      border-left: 1px solid $whiteGreen;
    }

    #generalSection {
      h3 {
        width: 100%;
      }

      form {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 15px;
        height: 38vw;
        width: 100%;
        overflow-y: scroll;
        align-items: center;

        &::-webkit-scrollbar {
          background: transparent;
          width: 0.2vw;
        }

        &::-webkit-scrollbar-thumb {
          background: $whiteGreen;
          border-radius: $borderRadius;
        }

        .edit-sensible-info {
          width: max-content;
          margin: 5px 0;
        }

        label {
          margin: 15px 0 5px;
          font-weight: 800;
          font-size: 0.875em;
          color: $greyGreen;
        }

        .form-row {
          display: grid;
          grid-template-columns: 49% 49%;
          gap: 0 10px;
          width: 100%;

          input {
            width: 100%;
          }
        }

        .field {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;

          label,
          textarea {
            width: 100%;
          }

          .deletable_field {
            display: flex;
            gap: 5px;
            margin: 0 0 10px;
            width: 100%;

            input {
              width: 100%;
            }

            button {
              height: 100%;
            }
          }
        }

        .delete {
          svg,
          path {
            pointer-events: none;
          }
        }
      }
    }

    #recipientTreatments {
      h3 {
        width: 100%;
      }
      .treatments-list {
        padding: 0;
        height: 40vw;
        overflow-y: scroll;
        border-radius: $borderRadiusMedium;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::-webkit-scrollbar {
          background: transparent;
          width: 0.3vw;
        }

        &::-webkit-scrollbar-thumb {
          background: $whiteGreen;
          border-radius: $borderRadius;
        }

        .row {
          width: 100%;

          .col {
            position: relative;

            .remove-treatment {
              right: 0%;
              top: -5%;
              position: absolute;
              z-index: 10;
              width: 1.8vw;
              height: 1.8vw;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $greyGreen;
              border-width: 1px;
              border-style: solid;
              border-color: $greyGreen;
              font-size: 1vw;
              padding: 0;
              cursor: pointer;
              opacity: 0;
              transition: 0.2s ease-in;

              &:hover {
                filter: brightness(0.9);
              }
            }

            &:hover {
              .remove-treatment {
                opacity: 1;
              }
            }

            &.expired {
              .card-header {
                border-radius: 15px 15px 0 0;
              }
              .card-body {
                border-radius: 0 0 15px 15px;
              }

              .card-body,
              .card-header {
                backdrop-filter: brightness(0.9);
                filter: saturate(0.5) brightness(0.9);
              }

              h5 {
                margin-bottom: 0;
                position: absolute;
                top: 3%;
                right: 3%;
                z-index: 6;
                transition: 0.3s ease-in;
              }

              &:hover {
                filter: none;
                .card-img-overlay {
                  opacity: 1;
                }

                h5 {
                  opacity: 0;
                }
              }
            }
          }
        }

        .treatment {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: $white;
          box-shadow: 2px 4px 8px 2px #eaeaea;
          border-radius: $borderRadiusMedium;
          position: relative;

          .card-img-overlay {
            background: #121f1e99;
            backdrop-filter: blur(1px);
            border-radius: 14px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: 0.3s ease-in;
          }

          .card-header {
            color: $mediumGreen;
            font-family: $font1;
          }

          .card-body {
            display: flex;
            flex-direction: column;

            .remaining {
              .progress {
                .progress-bar {
                  filter: brightness(1.5) saturate(0.3) !important;
                }
              }
            }

            .start-time {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            .list-group {
              margin: 0 0 10px;

              .time-range {
                display: flex;
                align-items: center;

                svg {
                  width: 3vw;

                  &:nth-child(2),
                  &:nth-child(3) {
                    border-left: 1px solid $greyGreen;
                  }
                }
              }
            }
          }
        }
      }

      .add-treatment-btn {
        margin: 15px auto;
      }
    }

    #recipientSpecialists {
      .specialists-container {
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 20px;
        height: 100%;
        align-items: start;
        padding: 20px 0;

        small {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .specialist {
          display: grid;
          grid-template-columns: 25% 71%;
          align-items: center;
          gap: 10px;
          border: 1px solid $whiteGreen;
          border-radius: $borderRadius;
          box-shadow: 5px 4px 8px 1px #e0e8e57d;
          cursor: pointer;
          
          .icon {
            width: 100%;
            height: 100%;
            border-right: 1px solid $whiteGreen;
            display: flex;
            align-items: center;

            svg {
              color: $whiteGreen;
              font-size: 8vw;
              padding: 20px;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 10px 0;

            span {
              display: flex;
              align-items: center;
              gap: 10px;
              

              svg {
                color: $greyGreen;
              }
            }
          }
        }
      }

      h3 {
        width: 100%;
      }
      button {
        margin: 1vw auto;
      }
    }
  }
}

.create-specialist-modal {
  .modal-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  form {
    gap: 10px;
    display: flex;
    flex-direction: column;

    .field {
      display: flex;
      width: 100%;

      label {
        position: absolute;
        text-transform: capitalize;
        margin-left: 2.9vw;
        color: $greyGreen;
      }

      input[type="tel"] {
        padding-left: 5.5vw;
      }

      svg {
        position: absolute;
        margin-left: 1vw;
        color: $charcoal;
      }

      input,
      textarea,
      label {
        font-family: $font1;
      }

      input,
      textarea {
        padding-left: 2.8vw;
        width: 100%;
      }

      &:not(.textarea) {
        align-items: center;
      }

      &.textarea {
        margin-top: 1vw;

        svg {
          margin-top: 0.8vw;
        }
      }
    }

    .contact-label {
      font-weight: 600;
      display: flex;
      align-items: center;
      margin: 10px 0;
      gap: 5px;
    }

    .contact-fields {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-left: 2px solid $whiteGreen;

      > * {
        width: 95%;
        margin: 0 auto;
      }

      .address {
        display: flex;
        flex-direction: column;

        label {
          position: absolute;
          text-transform: capitalize;
          margin-left: 2.9vw;
          color: $greyGreen;

          span {
            &:nth-child(1) {
              color: transparent;
            }
          }
        }

        input {
          text-transform: capitalize;
          z-index: 6;
          background: transparent;
        }

        .address-suggestions {
          padding: 0.7vw;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border: 1px solid $whiteGreen;
          border-top: none;
          border-radius: 0 0 5px 5px;

          li {
            padding: 0 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: $font1;

            svg {
              color: $greyGreen;
            }
          }
        }
      }
    }
  }
}
