#sign {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .toolbar {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      width: 10vw;
      text-align: center;
      position: relative;
      cursor: pointer;

        &::before {
          content: "";
          background: $mediumGreen;
          border-radius: $borderRadiusLight $borderRadiusLight 0 0;
          width: 100%;
          height: 100%;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          transform: scaleY(0);
          transform-origin: bottom;
          transition: 0.2s ease-in;
        }

      &.active {
        &::before {
           transform: scaleY(1);
        }

        span {
            color: $white;
            
        }
      }

      span {
        position: relative;
        z-index: 6;
        transition: 0.2s ease-in;
        font-family: $font2 !important;
      }
    }
  }

  .container {
    width: max-content;


    #login,
    #register {
      padding: 60px 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #b3c1b4;
      border-radius: 0 $borderRadiusMedium $borderRadiusMedium $borderRadiusMedium;
      height: 45vw;

      h2 {
        color: $charcoal;
        margin-left: 5vw;
      }

      .validation {
        padding: 15px 40px;
        border-radius: 8px;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        width: max-content;
        margin: 20px auto;
        color: $white;

        &.error {
          background: $error;
        }

        &.success {
          background: $success;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50vw;
        height: 100%;
        margin: 3vw auto;
        align-items: center;

        input[type="email"],
        input[type="text"],
        input[type="password"] {
          border-width: 1px;
          border-color: $charcoal;
          border-style: solid;
          border-radius: 8px;
          padding: 0.5vw 1vw;
          width: 65%;

          &:focus-visible {
            border: 1px solid $green !important;
            outline: $green 1px;
          }

          &::placeholder {
            color: $green;
            font-family: $font2;
            text-transform: lowercase;
          }
        }

        input[type="submit"] {
          background: $green;
          color: $white;
          font-family: $font1;
          font-weight: 600;
          width: max-content;
          border-radius: 5px;
          text-transform: uppercase;
          border: none;
          margin: 10px auto;
          padding: 15px 40px;
          cursor: pointer;
          transition: 0.3s ease-in;

          &:hover {
            background: $darkGreen;
          }
        }
      }
    }
  }
}
