.treatment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  .treatment-info {
    display: flex;
    align-items: center;
    height: 100%;

    .container {
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 40px;
      width: 80%;

      .left-tab {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        padding: 25px 10px;
        border-radius: 25px;

        .medication-tracker {
          position: relative;
          height: 25vw;
          width: 30vw;

            .tablet {
              padding: 20px;
              width: 20vw;
              gap: 20px 10px;
              background: linear-gradient(
                349deg,
                #8d9e9773,
                rgba(220, 220, 220, 0.8509803922)
              );
              border-radius: $borderRadiusMedium;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              position: absolute;
              transition: 0.3s ease-in-out;
              box-shadow:
                inset 20px 20px 55px rgba(255, 255, 255, 0),
                3px 3px 3px rgb(104 129 123 / 38%);
              border-left: 1px solid #e1e1e1;
              border-top: 1px solid #cbcaca;
              border-right: 1px solid #716b6b;
              border-bottom: 1px solid #706b6b;

              > div {
                border-radius: 50%;

                &.fill {
                  background: rgb(240 255 253 / 64%);
                  box-shadow:
                    -3px -3px 3px rgba(255, 255, 255, 35%),
                    3px 3px 3px rgba(104, 110, 107, 0.29),
                    inset 3px 3px 3px rgba(255, 255, 255),
                    inset -3px -3px 3px rgba(128, 141, 134, 0.4);
                }

                &.empty {
                  box-shadow:
                    inset 3px 3px 3px rgba(104, 110, 107, 0.29),
                    inset -3px -3px 3px rgba(255, 255, 255, 35%);
                }
              }

              &:nth-child(1) {
                z-index: 6;
              }

              &:nth-child(2) {
                top: 5.5%;
                left: 3%;
              }
              &:nth-child(3) {
                top: 7%;
                left: 6%;
              }
            }

            &.focus {
              .tablet {
                background: linear-gradient(322deg, #c0c0c0, #dcdcdc80);
                transform: skew(-3deg, 0deg) rotateY(20deg);
                box-shadow:
                  inset 20px 20px 55px rgba(255, 255, 255, 0),
                  3px 3px 3px 3px rgba(104, 129, 123, 0.38);

                &:nth-child(2) {
                  transform: skew(-3deg, 0deg) rotateY(20deg)
                    translate(15px, 15px);
                }
                &:nth-child(3) {
                  transform: skew(-3deg, 0deg) rotateY(20deg)
                    translate(25px, 25px);
                }
              }
            
          }
        }
        .stock {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .remaining-pills {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $greyGreen;
          }

          .box-number {
            color: $greyGreen;
            float: right;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
    .right-tab {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .actions {
        display: flex;
        margin: 20px auto;
        gap: 20px;
      }

      .intake-frequency {
        display: flex;
        gap: 10px;

        > div {
          color: $greyGreen;
          border: 1px solid $whiteGreen;
          border-radius: $borderRadius;
          padding: 5px 15px;

          &#intakeTimeRange {
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: center;
          }
        }
      }
    }
  }
}
