#agenda {

    .add-event {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input, textarea, label {
            width: 100%;
        }

        input[type="text"], input[type="date"], input[type="select"], textarea {
            border-radius: 5px;
            border: 1px solid #b1b7b8;
            padding: 5px 8px;
        }

        label {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .check {
            display: flex;
            align-items: center;
            gap: 20px
        }
    }
}