#agenda {
  display: grid;
  grid-template-columns: 30% 70%;

  .left-tab {
    padding: 2vw;

    .date {
      color: lightslategrey;
      font-family: $font2;
    }

    .todays-events {
        margin: 5vw 0;

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;

        li {
          background: $pearl;
          padding: 10px 20px;
          border-radius: $borderRadiusLight;
          display: flex;
          align-items: center;
          gap: 15px;

          .icon {
            svg {
              font-size: 2vw;
              color: $green;
            }
          }

          .event-info {
            display: flex;
            flex-direction: column;

            .time,
            span {
              font-family: $font2 !important;
            }

            span {
              font-weight: 600;
            }

            .time {
              color: grey;
            }
          }
        }
      }

      .no-events {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    button {
      background: $aqua;
      border: 1px solid $green;
      color: $green;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: auto;
    }
  }

  .rbc-calendar {
    background: $whiteGreen;
    padding: 5vw 2vw;
    border-radius: 0 $borderRadius $borderRadius 0;
    margin: auto;


    .rbc-toolbar {
      .rbc-toolbar-label {
        font-family: $font3;
        color: $lightGreen;
        font-weight: 900;
        font-size: 1.3vw;
      }
      .rbc-btn-group {
        background: $pearl;
        border-radius: 5px;

        button {
          border: none;
          margin: 0;

          &:hover {
            border: none;
            background: $aqua;
          }
        }

        .rbc-active,
        button:active {
          background: $aqua;
          color: $green;
          border: 1px solid $green;
          box-shadow: none;
        }
      }
    }

    .rbc-time-view,
    .rbc-month-view,
    .rbc-agenda-view {
      border: none;
      padding: 20px;
      max-height: 80vh;

      .rbc-event {
        background: $aqua;
        border: 1px solid $green;
        color: $green;
      }

      .rbc-time-header {
        margin-right: 0.4vw !important;
      }
      .rbc-time-content {
        &::-webkit-scrollbar {
          background: $lightGreen;
          width: 0.5vw;
        }
        &::-webkit-scrollbar-thumb {
          background: $pearl;
          border-radius: 25px;
        }
      }
    }

    .rbc-time-view {
      > div {
        background: $white;
      }

      .rbc-time-header {
        border-radius: $borderRadiusLight $borderRadiusLight 0 0;
      }

      .rbc-time-content {
        border-radius: 0 0 $borderRadiusLight $borderRadiusLight;
      }

      .rbc-today {
        background-color: $whiteGreen;
      }
    }

    .rbc-month-view {
      .rbc-date-cell {
        padding: 0.2vw 0.5vw 0 0;
      }
      .rbc-row-segment {
        padding: 0.1vw 0.5vw;
      }

      .rbc-today {
        background-color: $lightGreen;
      }

      .rbc-header {
        border: none;
      }

      .rbc-day-bg {
        border-radius: 10px;
        margin: 0.2vw;
        padding: 0.2vw;
        border-left: none;

        &:not(.rbc-today, .rbc-off-range-bg) {
          background: $white;
        }

        &.rbc-off-range-bg {
          background: rgb(205, 206, 206) !important;
        }
      }

      .rbc-month-row {
        border-top: none;
      }
    }
  }

}
.add-event-modal {
    .add-event {
      display: flex;
      flex-direction: column;
      gap: 20px;
    
      input,
      textarea,
      label {
        width: 100%;
      }
    
      input[type="text"],
      input[type="date"],
      input[type="select"],
      textarea {
        border-radius: 5px;
        border: 1px solid #b1b7b8;
        padding: 5px 8px;
      }
    
      label {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    
      
       .field {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        font-family: $font2;
      }

      &.dates {
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 20px;
      }

      &.check {
        display: grid;
        grid-template-columns: 10% 90%;
        align-items: center;
        gap: 20px;
      }
    }
    }
    
    .add-event-btn {
      display: block;
      margin: 2vw auto;
    }
}
