#agenda {
  display: grid;
  grid-template-columns: 30% 70%;

  .left-tab {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .date {
      color: lightslategrey;
      font-family: $font2;
    }

    .selected-event {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .header {
        display: flex;
        gap: 10px;
        align-items: center;

        h3 {
          margin: 0;
        }
      }

      .description {
        background: $pearl;
        padding: 10px;
        border-radius: $borderRadiusLight;
      }
    }

    .todays-events {
      margin: 2vw 0 5vw;
      height: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;

        li {
          background: $pearl;
          border-radius: $borderRadiusLight;
          display: flex;
          gap: 15px;
          cursor: pointer;
          transition: 0.3s ease-in;

          .icon {
            padding: 10px 20px;
            border-left-width: 6px;
            border-left-style: solid;
            border-right-style: solid;
            border-right-width: 1px;
            border-radius: $borderRadiusLight 0 0 $borderRadiusLight;
            border-left-color: $whiteGreen;
            border-right-color: $whiteGreen;
            display: flex;
            position: relative;
            align-items: center;

            svg {
              font-size: 2vw;
              color: $green;
            }
          }

          .event-info {
            display: flex;
            flex-direction: column;
            padding: 10px;

            .time,
            span {
              font-family: $font2 !important;
            }

            span {
              font-weight: 600;
            }

            .time {
              color: grey;
            }
          }

          &:hover {
            background: $whiteGreen;
          }
        }
      }

      .no-events {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }

  .right-tab {
    background: $whiteGreen;
    border-radius: 0 $borderRadius $borderRadius 0;

    .rbc-calendar {
      padding: 5vw 2vw;
      border-radius: 0 $borderRadius $borderRadius 0;
      margin: auto;

      .rbc-current-time-indicator {
        background-color: $mediumGreen2;
      }

      .rbc-toolbar {
        .rbc-toolbar-label {
          font-family: $font3;
          color: $mediumGreen2;
          font-weight: 900;
          font-size: 1.3vw;
        }
        .rbc-btn-group {
          background: $pearl;
          border-radius: 5px;

          button {
            border: none;
            margin: 0;
            transition: 0.3s ease-in;
            display: inline-block !important;

            &:not(.rbc-active, button:active) {
              &:hover {
                border: none;
                background: $aqua;
              }
            }
          }

          .rbc-active,
          button:active {
            background: $aqua;
            color: $green;
            border: 1px solid $green;
            box-shadow: none;
          }
        }
      }

      .rbc-time-view,
      .rbc-month-view,
      .rbc-agenda-view {
        border: none;
        padding: 20px;
        max-height: 70vh;

        .rbc-event {
          background: $aqua;
          border: 1px solid $green;
          color: $green;
        }

        .rbc-time-header {
          margin-right: 0.4vw !important;
        }
        .rbc-time-content {
          &::-webkit-scrollbar {
            background: $lightGreen;
            width: 0.5vw;
          }
          &::-webkit-scrollbar-thumb {
            background: $pearl;
            border-radius: 25px;
          }
        }
      }

      .rbc-time-view {
        > div {
          background: $white;
        }

        .rbc-time-header {
          border-radius: $borderRadiusLight $borderRadiusLight 0 0;
        }

        .rbc-time-content {
          border-radius: 0 0 $borderRadiusLight $borderRadiusLight;
        }

        .rbc-today {
          background-color: $whiteGreen;
        }
      }

      .rbc-month-view {
        .rbc-date-cell {
          padding: 0.2vw 0.5vw 0 0;

          button {
            display: inline-block !important;
          }
        }
        .rbc-row-segment {
          padding: 0.1vw 0.5vw;
        }

        .rbc-today {
          border: 1px solid $mediumGreen2;
          background: $aqua;
        }

        .rbc-header {
          border: none;
        }

        .rbc-day-bg {
          border-radius: 10px;
          margin: 0.2vw;
          padding: 0.2vw;

          &:not(.rbc-today, .rbc-off-range-bg) {
            background: $white;
            border-left: none;
          }

          &.rbc-off-range-bg {
            background: rgb(205, 206, 206) !important;
          }
        }

        .rbc-month-row {
          border-top: none;
        }
      }
    }
  }
}
