.loader-container {
  top: 50%;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translate(-50%, -50%);
  position: relative;

  .loader {
    width: max-content;
    height:  max-content;
    gap: 15px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-items: center;
    align-items: center;
    animation: 1s linear 0.3s infinite running spin, 0.3s linear 0s forwards running appear;

    > * {
      background: $aqua;

      &:nth-child(1) {
        grid-column: 1/3;
        animation-delay: 0.05s;
      }

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
    }
  }
}

@keyframes spin {
   0% {
    rotate: 0;
   }
   100% {
    rotate: 360deg;
   }
}

@keyframes appear {
   0% {
    transform: scale(0);
    opacity: 0;
   }
   100% {
    transform: scale(1);
    opacity: 1;
   }
}