nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px 5px;
  background: linear-gradient(47deg, $green, $aquaOpac);
  border-radius: $borderRadius 0 0 $borderRadius;
  position: relative;
  width: 100%;

  .pin {
    opacity: 0;
    color: $mediumGreen;
    float: right;
    cursor: pointer;
    position: absolute;

  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;

    li {
      font-weight: 600;
      cursor: pointer;
      padding: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3vw;
      width: 3vw;
      padding: 10px;

      &.active {
        box-shadow: inset 0px 1px 3px 0px $mediumGreen2,
          0px 1px 3px 0px $lightGreen;

        a,
        span {
          color: $green;
        }
      }

      a,
      span {
        font-family: $font2 !important;
        font-size: 1.1vw;
        text-decoration: none;
        color: $pearl;
        transition: 0.3s ease-in;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        svg {
          min-width: 1vw;
          min-height: 1vw;
        }
      }

      &:hover {
        box-shadow: 0px 1px 3px 0px $mediumGreen2,
          inset 0px 1px 3px 0px $lightGreen;

        a,
        span {
          color: $green;
        }
      }
    }
  }
}
