nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background: linear-gradient(47deg, #005444, #97c6bd);
  border-radius: $borderRadius 0 0 $borderRadius;
  position: relative;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;

    li {
      font-weight: 600;
      cursor: pointer;
      padding: 15px 20px;
      border-radius: 50px;
      display: flex;
      align-items: center;

      &.active {
        box-shadow: inset 0px 1px 3px 0px $mediumGreen2,
          0px 1px 3px 0px $lightGreen;

        a,
        span {
          color: $green;
        }
      }

      a,
      span {
        font-family: $font2 !important;
        font-size: 1.1vw;
        text-decoration: none;
        color: $pearl;
        transition: 0.3s ease-in;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        svg {
          width: 1vw;
          height: 1vw;
        }
      }

      &:hover {
        box-shadow: 0px 1px 3px 0px $mediumGreen2,
          inset 0px 1px 3px 0px $lightGreen;

        a,
        span {
          color: $green;
        }
      }
    }
  }
}
