#todoList {
  .todo-category {
    display: flex;
    gap: 5px;

    li {
      border: 2px solid $lightGreen;
      border-radius: $borderRadiusLight;
      padding: 5px 10px;
      transition: 0.3s ease-in;
      cursor: pointer;

      &.activeCategory {
        background: $lightGreen;
        color: white;
      }
    }
  }

  .todo-list-items {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .todo-item {
      display: grid;
      grid-template-columns: 5% 83% 5%;
      gap: 15px;
      transition: 0.3s ease-in;

      input {
        accent-color: $lightGreen2;
        cursor: pointer;
      }

      .delete {
        cursor: pointer;

        svg {
          color: $mediumGreen;
        }
      }

      &.completed {
        font-style: italic;
        text-decoration: line-through;
        color: $lightGreen2;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid $lightGreen;
    padding: 15px;
    border-radius: $borderRadiusMedium;
    height: max-content;
    transition: 0.3s ease-in;

    input,
    select {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $lightGreen;
      margin: auto;
      width: 100%;
    }

    select {
      transform-origin: center;
    }

    button {
      background: $lightGreen2;
      margin: auto;
      transform-origin: center;
    }
  }
}
