@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#todoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;

  .todo-category {
    display: flex;
    background: #ffffff33;
    border-radius: $borderRadiusLight;
    margin-bottom: 20px;
    padding: 0;

    button {
      padding: 5px 10px;
      background: transparent;
      color: $green;
      transition: 0.3s ease-in;
      cursor: pointer;
      border: 1px solid transparent;

      &.activeCategory {
        background: $aquaOpac;
        border: 1px solid $green;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.334);
      }
    }
  }

  .todo-list-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #ffffff33;
    border-radius: $borderRadiusMedium;
    padding: 10px;
    height: 100%;

    .todo-item {
      display: grid;
      grid-template-columns: 5% 83% 5%;
      gap: 15px;
      transition: 0.3s ease-in;
      background: #ffffffcc;
      padding: 5px;
      border-radius: 5px;

      .field {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        > * {
          width: 100%;
          height: 100%;
        }

        svg {
          position: absolute;
          color: $mediumGreen2;
          border-radius: $borderRadiusSmall;
        }

        input {
          opacity: 0;
          cursor: pointer;
        }
      }

      .delete {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: $mediumGreen;
        }
      }

      &.completed {
        font-style: italic;
        text-decoration: line-through;
        color: $greyGreen;

        .field {
          svg {
            animation: zoomIn 0.3s ease-in 0s 1 alternate forwards;
          }
        }
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: 65% 35%;
    justify-items: center;
    gap: 20px 0px;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: $borderRadiusMedium;
    height: max-content;
    transition: 0.3s ease-in;

    input {
      width: 100%;
    }
    select {
      transform-origin: center;
      width: max-content;
    }

    button {
      grid-column: 1/3;
      background: $aqua;
      color: $green;
      border: 1px solid $green;
      margin: auto;
      transform-origin: center;
      display: flex;
      justify-content: center;
    }
  }
}
