@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#todoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  gap: 10px;

  .todo-category {
    display: flex;
    background: #ffffff33;
    border-radius: $borderRadiusLight;
    margin-bottom: 20px;
    padding: 0;

    button {
      padding: 5px 10px;
      background: transparent;
      color: $green;
      transition: 0.3s ease-in;
      font-size: 0.8vw;
      cursor: pointer;
      border: 1px solid transparent;
      justify-content: center;

      &.activeCategory {
        background: $aquaOpac;
        border: 1px solid $green;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.334);
      }
    }
  }

  .todo-list-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #ffffff33;
    border-radius: $borderRadiusMedium;
    padding: 10px;
    height: 100%;

    .todo-item {
      display: grid;
      grid-template-columns: 85% 12%;
      gap: 5px;
      transition: 0.3s ease-in;
      background: #ffffffcc;
      padding: 10px;
      border-radius: 5px;

      .field {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        > * {
          width: 100%;
          height: 100%;
        }

        svg {
          position: absolute;
          color: $mediumGreen2;
          border-radius: $borderRadiusSmall;
        }
      }

      .delete {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: $mediumGreen;
        }
      }

      &.completed {
        font-style: italic;
        color: $greyGreen;

        label {
          text-decoration: line-through;
        }

        .field {
          svg {
            animation: zoomIn 0.3s ease-in 0s 1 alternate forwards;
          }
        }
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: $borderRadiusMedium;
    height: max-content;
    transition: 0.3s ease-in;

    input {
      width: 100%;
    }

    input[type="text"] {
      background: transparent;
      border-bottom: 2px solid #fff;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      color: $white;

      &::placeholder {
        color: $whiteGreen;
      }

      &:focus {
        box-shadow: none;
      }

      &:focus-visible {
        outline: 0;
        border-bottom: 2px solid #fff;
      }
    }
    .input-group {
      flex-wrap: nowrap;
      gap: 10px;

      button {
        min-width: 10vw;
        font-size: 0.9vw;
      }

      .dropdown-item {
        &:active {
          background-color: $mediumGreen2;
        }
      }
    }

    button {
      background: $aqua;
      color: $green;
      border: 1px solid $green;
      margin: auto;
      transform-origin: center;
      display: flex;
      justify-content: center;
    }

    .add-button {
            border: 1px solid $white;
            border-radius: $borderRadiusSmall;
            width: max-content;
            height: max-content;
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            svg {
              color: $white;
            }

            &:hover {
              background: #00000021;
            }

            &:active {
              background: #00000021;
              transform: scale(0.8);
            }

          }
  }
}
