@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


#todoList {
  .todo-category {
    display: flex;
    background: white;
    border-radius: $borderRadiusLight;
    margin-bottom: 20px;
    padding: 0;

    button {
      padding: 5px 10px;
      background: transparent;
      color: $blackGreen;
      transition: 0.3s ease-in;
      cursor: pointer;
      border: 1px solid $white;


      &.activeCategory {
        background: $aqua;
        border: 1px solid $green;
        color: $green;
      }

      &:hover {
        background: $aqua;
        color: $green;
      }
    }
  }

  .todo-list-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: $white;
    border-radius: $borderRadiusMedium;
    padding: 10px;

    .todo-item {
      display: grid;
      grid-template-columns: 5% 83% 5%;
      gap: 15px;
      transition: 0.3s ease-in;

      .field {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        > * {
          width: 100%;
          height: 100%;
        }

        svg {
          position: absolute;
          color: $mediumGreen2;
          border-radius: $borderRadiusSmall;
        }

        input {
          opacity: 0;
          cursor: pointer;
        }
      }

      .delete {
        cursor: pointer;

        svg {
          color: $mediumGreen;
        }
      }

      &.completed {
        font-style: italic;
        text-decoration: line-through;
        color: $lightGreen2;

        .field {


        svg {
          animation: zoomIn 0.3s ease-in 0s 1 alternate forwards;
        }

       
      }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid $whiteGreen;
    padding: 15px;
    border-radius: $borderRadiusMedium;
    height: max-content;
    transition: 0.3s ease-in;

    input,
    select {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $lightGreen;
      margin: auto;
      width: 100%;
    }

    select {
      transform-origin: center;
    }

    button {
      background: $aqua;
      color: $green;
      border: 1px solid $green;
      margin: auto;
      transform-origin: center;
      display: flex;
      justify-content: center;
    }
  }
}
